<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>


    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img width="100px" height="100px" class="col-xs-12 col-lg-8" src="https://image.flaticon.com/icons/svg/196/196578.svg" alt="Imagen de Flat Icon">
      </div>
      <div class="row">
        <button on-click="incrementar" class="col-xs-12 col-lg-4 btn btn-warning" type="button" name="button">Cargar Datos</button>
        <br/>
        <br/>
        Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <br/>
        <input type="text" value="[[prop1]]">
      </br/>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Selena</td>
                <td>Rios</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Elena</td>
                <td>Gomez</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Indique su usuario"
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("prop1: " + this.prop1);
        console.log("prop2: " + this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
